body {
  font-family: "Cairo", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

header {
  background-color: red;
  padding: 25px;
  height: 115px;
  color: white;
  position: relative;
}

header svg {
  fill: white;
  width: 396px;
  height: 60px;
}

header .date-container img {
  vertical-align: baseline;
}

header .login-container a {
  margin: 0 25px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.list-unstyled {
  position: absolute;
  top: 100px;
  padding: 15px 0;
  background-color: white;
  color: #111;
  font-size: 19px;
}

.list-unstyled:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 6px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 15px solid #f72210;
}

.list-unstyled li {
  padding: 5px 15px;
  font-weight: bolder;
  border-right: 1px solid #d9d9d9;
}

.navsearch {
  margin: 5px 15px;
  padding-right: 20px;
}

.trendtopic {
    margin-top: 33px;
    position: relative;
    right: 1%;
    font-weight: bolder;
    width: 100%;
    border-top: 1px solid rgb(214, 210, 210);
    border-bottom: 1px solid rgb(214, 210, 210);
}

.trendtopic li {
    list-style: none;
    margin: 0 10px;
}

.trendtopic li a {
    color: #807f84;
    text-decoration: none;
}

.navsearch > span {
  margin-right: 10px;
}

.list-unstyled li a {
  color: #111;
  text-decoration: none;
}

header .login-container button {
  border: none;
  outline: none;
  background-color: #ffe400;
  color: black;
  padding: 2px 20px;
  border-radius: 18px;
  font-weight: bolder;
  text-transform: uppercase;
}

.list-unstyled li a:hover,
.trendtopic li a:hover,
.featuredarticle h3:hover {
  color: hsl(359, 98%, 48%);
}

header .login-container button:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 9px;
  background-color: black;
  -webkit-mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg)
    center / contain no-repeat;
  mask: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center /
    contain no-repeat;
  margin-left: 5px;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1310px;
  }
}
